/* CSS declarations go here */
.input-group {
  padding-top: 7px;
}

.container{
 width: 100%;
}

#render-target{
  border: 0px;
  margin: 0px;
}

.body{
  border: 0px;
  background-color:rgb(215, 188, 162);
}

.navbar-inverse {
    background-color: rgb(64, 20, 17);
    border-color: #080808;
    padding-bottom: 0px;
}

h2{
  padding-top: 10px;
  margin-top: 0px;
}
.navbar-inverse .navbar-brand {
  color: rgb(215, 188, 162);
}

.navbar-inverse .navbar-nav > li > a {
    color: rgb(215, 188, 162);
}

#login-buttons a {

    color: rgb(215, 188, 162);
    text-decoration: none;
}

.login-buttons-dropdown-align-{
    padding-top: 17px;
}

#login-dropdown-list{
  position:absolute;
  top:350%;
  left:-360%;
}

#login-dropdown-list a {
  color: rgb(64, 20, 17);
}
#login-buttons .login-button, .accounts-dialog .login-button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 4px 8px;
    font-size: 80%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background: #AB942F;
    border: 1px solid #464f75;
    border-radius: 4px;
}

 #login-buttons .login-button:hover{
  background-color: rgb(171, 148, 87);
}

.botonesmypost {
  text-align: right;
}

img{
  max-width:100%;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color:rgb(215, 188, 162);;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.fechapost{
  margin-top: 30%;
}
a{
  color:rgb(51,51,51);
}
a:hover{
  color: #AB942F;
  text-decoration: none;
}

a:focus{
  color: #AB942F;
  text-decoration: none;
}
.btn-primary {
  background-color: #AB942F;
  border: #AB942F;
}
.btn-primary:active:focus{
  background-color: #AB942F;
}
.btn-primary:focus{
  background-color: #AB942F;
}

.btn-primary:hover{
  background-color: rgb(171, 148, 87);
}

.botonFiltros{
  padding-left: 30%;
  padding-top: 10%;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: rgb(255, 223, 192);
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0px;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.input-group{
  position:relative;
  left:40%;
}
.formlabel{
  padding-left: 3%;
}

.forminput{
  padding-right: 50%;
}
.right{
  text-align: right;
  padding-right: 50%;
}
.w3-animate-top {
    position: relative;
    animation: animatetop 0.4s;
}
.w3-display-container{position:relative}
.w3-display-bottommiddle{width:100%;position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}
.w3-badge{border-radius:50%}
.w3-border{border:1px solid #ccc!important}
.w3-content{max-width:980px;margin:auto}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
